<div class="masthead">
    <!-- Masthead-->
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5-0">부동산! 그냥 방문하지 말고</h1>
                    <h1 class="mb-5-0">멈춰방에서 후기를 먼저 확인하세요</h1>

                    <a href="/search"><button class="uk-button uk-button-default" style="color: white;">부동산 보러 가기</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="ri-search-line m-auto text-primary"></i></div>
                    <h3>내 주변 부동산</h3>
                    <p class="lead mb-0">구, 동, 부동산 이름으로 검색하고</br>지도상 위치를 확인하세요.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="ri-database-2-line m-auto text-primary"></i></div>
                    <h3>공인된 자료</h3>
                    <p class="lead mb-0">멈춰방은 서울시 공공데이터의</br>부동산 정보를 활용하고 있습니다.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="ri-file-text-line m-auto text-primary"></i></div>
                    <h3>다양한 후기</h3>
                    <p class="lead mb-0">부동산에 대한 후기를 확인하세요.</br>당신이 후기를 작성할 수도 있답니다!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('images/page_search.PNG')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>착한 공인중개사를 찾고 싶으신가요?</h2>
                <p class="lead mb-0">집을 구하고 계십니까?</br>멈춰방에서 잠시 멈추셔서 다양한 후기를 확인하고 더 좋은 공인중개사와 거래하세요.</br>멈춰방은 서울시 공인중개사 공공데이터를 활용하여</br>시군구, 법정동 코드와 사업자상호로 검색할 수 있으며</br>카카오맵을 통해 위치를 한눈에 파악할 수 있습니다.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('images/page_review.PNG')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>부동산 거래 후기를 기록하고 싶으신가요?</h2>
                <p class="lead mb-0">공인중개사와의 부동산 거래는 어떠셨나요?</br>공인중개사에 대한 후기를 남기고 '🧻휴지'를 받으세요.</br>'🧻휴지'를 사용하여 다른 후기를 열람할 수 있습니다.</br>남겨주신 후기는 누군가에게 귀중한 정보로 도움이 됩니다.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('images/page_agent.PNG')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>나의 부동산을 알리고 싶으신가요?</h2>
                <p class="lead mb-0">공인중개사이신가요? 멈춰방은 공인중개사의 가입을 환영합니다.</br>공인중개사 인증을 받고 프로필을 꾸며 보세요.</br>중개업소의 후기를 확인하며 관리할 수 있도록 도와드립니다.</p>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials-->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">개발자들의 한마디...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/memoji_wc.PNG" alt="..." />
                    <h5>Wonchae</h5>
                    <p class="font-weight-light mb-0">"굉장합니다! 멈춰방은 저의 주거지 이전의 자유를 확장합니다."</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/memoji_sy.PNG" alt="..." />
                    <h5>listenyoon</h5>
                    <p class="font-weight-light mb-0">"만드느라 죽는 줄 알았습니다! 이쁘게 유용하게 사용해 주세요."</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/memoji_sj.PNG
                    " alt="..." />
                    <h5>kcdoggo</h5>
                    <p class="font-weight-light mb-0">"드디어 종강입니다! 그동안 감사했고 우리 떡볶이나 먹으러 갑시다!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/memoji_hj.PNG
                    " alt="..." />
                    <h5>Hy4j1n</h5>
                    <p class="font-weight-light mb-0">"멈춰방 많이 많이 사랑해 주세요~!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/memoji_sb.PNG
                    " alt="..." />
                    <h5>subinuhm</h5>
                    <p class="font-weight-light mb-0">"내가 제일 멋지다!! ㅋ캬캬캬"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/IMG_1050.jpeg" alt="..." />
                    <h5>next?</h5>
                    <p class="font-weight-light mb-0">🚔</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call to Action-->
<section class="call-to-action text-white text-center" id="signup">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <h2 class="mb-5-0">준비되셨나요?</h2>
                <a href="/auth/register"><button class="uk-button uk-button-default" style="color: white;">🧻 함께해요</button></a>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#!">About</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Contact</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>