html{
    color: black;
}
body{
    margin: 0;
}
.box{
    flex:1;
    height: 100px;
    padding:30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #865dff;
    margin: 10px;
}

.box-title{
    font-size:25px;
    font-weight: 700;
}
#admin--intro{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 30px;
}
.upper--box{
    margin: 2px auto;
    width: 70%;

}


.upper--box--one{
    display: flex;
}
.upper--box--two{
    display: flex;
}
.inner--box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box-info{
    font-size: 23px;
    margin: 0;
}

.sidebar{
    background-color: white;
    width: 20%;
    padding: 30px;
    min-height: calc(100vh - 80px);
    border: 1px solid grey;
    border-left-style:none;
    position:fixed;
}

/* 링크 스타일 */
.sidebar--link a {

    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 링크 텍스트 색상 */

}

  .sidebar--link li{
    line-height: 3rem;
    list-style: none;
    font-size: 18px;

}
.bnc{
    display: flex;
    flex-direction: row;
}


.admin--content{
    width: 100%;
    margin-left: 210px;
    background-color: ghostwhite;

}

.admin--content--two{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: ghostwhite;
    width: 70%;
    height: max-content; 
    margin-bottom: 30px;
}

.two--content{
  
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;


}

.r--report-item{
    line-height: 1rem;

}

.r--report-item ul{
    margin: 10px 0px;
}

.signedup_agent li:not(:first-child) {
    list-style: none;
}


.a--r--report--item{
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}