.a {
  color: pink;
}

.resident-menu,
.agent-menu {
  float: left;
  /* flex: 1; */
  width: 15%;
  height: 100vh;
  min-width: fit-content;
  margin: 0 30px;
}
.agent-menu {
  height: 80vh;
}

.r-menu-index {
  color: var(--deep-gray);
}

.r-menu-button {
  display: inline-block;
  margin: 15px 10px;
  color: black;
}
.r-menu-button.highlight {
  color: var(--purple);
}

.user-label {
  display: inline-block;
  width: 140px;
  padding-bottom: 26px;
}

#checkpw,
#checkPhoneMessage,
.abouttissue {
  padding-left: 10px;
}
