.hidden {
  display: none;
}

.layout-row {
  display: flex;
  flex-direction: row;
  /*align-items: center !important;*/
}

.layout-row p {
  margin-top: 0 !important;
}

.layout-column {
  display: flex;
  flex-direction: column;
}

.mypage-container {
  margin-top: 50px !important;
  margin-bottom: 50px;
}

.resident-myreview {
  display: flex;
  flex-direction: row;
}

.myreview-info {
  display: flex;
  flex-direction: column;
}

.myreview-address {
  text-overflow: ellipsis;
  word-break: break-all;
  margin-bottom: 10px;
  margin-top: 0;
}

.myreview-content {
  padding-left: 30px;
  position: relative;
  top: -20px;
  white-space: pre-line;
}

.myreview-button {
  width: 50px;
}
.myreview-date {
  margin: 0;
}

.mypage-bookmark,
.resident-myreview {
  width: 90%;
  padding: 20px 0;
  border-bottom: 1px solid black;
}
.mybookmark-button {
  float: right;
  padding-right: 20px;
}

.display-review {
  width: 70%;
  padding: 20px;
  margin: 5px;
  line-height: 10px;

  border: 1px solid #000000;
}

.checkboxes {
  width: 50vw;
  flex-wrap: wrap;
}

.checkboxes label {
  margin-left: 15px;
  padding: 10px;
}

input.uk-checkbox:checked {
  background-color: var(--purple);
}

input.uk-checkbox:checked:focus {
  background-color: var(--purple);
}

.layout-row #review-star1 {
  margin-left: 20px;
}

/* 신고 관련 */
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.report-radio-container {
  margin: 20px 0 45px 0;
  border: none;
}

.report-button-container {
  margin: 0 auto;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: --deep-gray;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 40%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: --deep-gray;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  background-color: var(--purple) !important;
  color: white !important;
}

/* 후기 내용 */
.rv-content {
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: pre-wrap;
}