.hidden {
  display: none;
}

.layout-row {
  display: flex;
  flex-direction: row;
}

.resident-myreivew {
  display: flex;
  flex-direction: row;
}

.myreview-info {
  display: flex;
  flex-direction: column;
}

.myreview-address {
  text-overflow: ellipsis;
  word-break: break-all;
}
