<%- include('./residentMenu.ejs'); %>
<div class="layout-column mypage-container">
  <% if(reviews.length === 0) { %>
  <div>아직 후기를 작성하지 않았어요!</div>
  <a href="/search">🏃‍♀️부동산 살펴보러 가기💨</a>
  <% } else { %>
  <% reviews.forEach(review=> { %>
  <%- include('./residentReview.ejs', {review:review, mine:true}) %>
  <% }); %>
  <% } %>
</div>