<%- include('./residentMenu.ejs'); %>
<div class="layout-column mypage-container">
  <% openReviews.forEach(review=> { %>
  <%- include('./residentReview.ejs', {review:review, mine:false}) %>
  <% }); %>
</div>