<%- include('./residentMenu.ejs'); %>
<div class="layout-column mypage-container">
  <% if(openReviews.length === 0) { %>
  <div>아직 후기를 열람하지 않았어요!</div>
  <a href="/search">🏃‍♀️휴지로 부동산 후기 보러가기💨</a>
  <% } else { %>
  <% openReviews.forEach(review=> { %>
  <%- include('./residentReview.ejs', {review:review, mine:false}) %>
  <% }); %>
  <% } %>
</div>