<div class="resident-menu">
  <script>
  </script>
  <div class="col-sm nav-align">
    <p class="r-menu-index">활동</p>
    <a href="/user/myreview" class="r-menu-button">
      <span>내가 쓴 후기</span>
    </a>
    <br />
    <a href="/user/openReview" class="r-menu-button">
      <span>내가 열람한 후기</span>
    </a>
    <br />
    <a href="/user/bookmark" class="r-menu-button">
      <span>북마크</span>
    </a>
    <br />
    <p class="r-menu-index">설정</p>
    <a href="/user/settings" class="r-menu-button">
      <span>계정 정보</span>
    </a>
  </div>
</div>