<div id="menu">
  <div class="col-sm nav-align">
    <a href="/user/myreview">
      <span class="button">내가 쓴 후기</span>
    </a>
    <br />
    <a href="/user/openReview">
      <span class="button">내가 열람한 후기</span>
    </a>
    <br />
    <a href="/user/bookmark">
      <span class="button">북마크</span>
    </a>
    <br />
    <a href="/user/settings">
      <span class="button">계정 정보</span>
    </a>
  </div>
</div>
