<div class="resident-menu">
  <script>
  </script>
  <div class="col-sm nav-align">
    <p class="r-menu-index">활동</p>
    <a href="/resident/myReview" class="r-menu-button <%= path==="myreview"? "highlight":"" %>">
      내가 작성한 후기
    </a>
    <br />
    <a href="/resident/openReview" class="r-menu-button <%= path==="openreview"? "highlight":"" %>">
      내가 열람한 후기
    </a>
    <br />
    <a href="/resident/bookmark" class="r-menu-button <%= path==="bookmark"? "highlight":"" %>">
      북마크
    </a>
    <br />
    <p class="r-menu-index">설정</p>
    <a href="/resident/settings" class="r-menu-button <%= path==="settings"? "highlight":"" %>">
      계정 정보
    </a>
  </div>
</div>