<div class="display-review">
    <div class="layout-row" style="align-items: center;">
        <div style="margin-right:10px"><%- review.r_username %></div>
        <div style="float:right; margin-left:auto">
            <label><%= review.created_time %></label>
        </div>
    </div>
    <p>🚨신고가 7회 누적되어 더이상 접근할 수 없는 후기입니다.🚨</p>
</div>