<table width="50%">
    <tr>
        <td><%= agent.a_profile_image %></td>
    </tr>
    <tr>
        <td><%= agent.rdealer_nm%></td>
    </tr>
    <tr>
        <td><%= agent.cmp_nm%> </td>
    </tr>
    <tr>
        <td><%= agent.address%></td>
    </tr>
</table>