<div class="agent-menu">
  <script>
  </script>
  <div class="col-sm nav-align">
    <p class="r-menu-index">설정</p>
    <a href="/agent/settings" class="r-menu-button highlight">
      계정 정보
    </a>
  </div>
</div>