<!DOCTYPE HTML>
<html>
	<head>
	</head>
	<body>
		<%- include('./agentProfile.ejs', {agent: agent}); %>
		<%- include('./agentMainInfo.ejs', {agent: agentMainInfo}); %>
		<%- include('./agentInformation.ejs', {agent: agentSubInfo}); %>
	</body>
</html>
