<div class="rg-container">
  <a href="/auth/register/resident"><button class="uk-button uk-button-default me-5">입주민</button></a>
  <a href="/auth/register/agent"><button class="uk-button uk-button-default">공인중개사</button></a>
</div>
