<main>
  <form action="auth/cert" name="cert" method="post">
    <div class="grid gap-2"><input</div>
    <input
      type="file"
      class="custom-file-input"
      name="file"
      id="file1"
      onchange="readSingleFile(this.files)"
    />
    <label class="custom-file-label" for="file1" id="file-label"
      >Choose file</label
    >
    <button type="submit" value="Submit">업로드</button>
  </form>
</main>
